        body{
background-color: black;
color: white;

        }
        li{
            font-size: 23px;
            color: brown;
        }
        #html{
            color: rgb(226, 105, 18);
        }
        #css{
            color: rgb(10, 88, 145);
        }
        #javascript{
            color: rgb(235, 202, 19);
        }


#js{
    color: yellow;
}

      
        
        button{
    background-color: pink;
    padding: 10px 20px; /* ESPAÇO INTERNO */
    margin: 10px; /* ESPAÇO EXTERNO */
    border-radius: 10px; /* BORDA */
    max-width: 100px;
}

  span{
            font-size: 20px;
            color: aliceblue
        }

        div{
    display: flex;
    flex-direction: column;
}


#acessivel{
    display: fixed;
    left: 20px;
    bottom: 20px;
}






    